html {
  background-color: $color-body;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}


body {
	padding-top: $header-height;
	&.template-index {
		padding-top: 0;
	}
}

#site-overlay {
	background-color: $color-main-dark;
	z-index: 97;
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all .25s linear;
	transition-delay: 0s;
}

.nav-open {
	#site-overlay {
		opacity: .5;
		visibility: visible;
		transition-delay: 0.5s;
	}
}