#CartSpecialInstructions {
  display: inherit;
  width: 100%;
  margin: 12px auto 42px 0;
}

.template-cart {
  h1 {
    text-align: left;
  }
  form {
    padding-bottom: 12rem;
    text-align: left;
  }

  .subtotal {
    margin-top: 0;
    font-family: $font-heading;
    font-size: 2.5rem;
  }
  .font__co-table {
    padding: 0;
  }
  .font__co {
    border-bottom: 1px solid $color-main;
  }
  th {
    letter-spacing: 2px;
  }
  .cart-next {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cart-totals {
    margin: 12px 24px;
  }
  .cart-buttons {
    display: flex;
    flex-direction: column;
    margin: 12px 24px;
  }
  .subtotal {
    color: $color-main;
  }
  .shipping {
    font-style: italic;
  }
  @media (max-width: 650px) {
    .font__co-table {
      padding: 12px;
    }
  }
}
