<section class="page-banner" style="background-image: url({{ section.settings.image | img_url: 'master' }})">
	<h1>{{ blog.title }}</h1>
</section>
{% schema %}
	{
		"name": "Page Banner",
		"settings": [
			{
				"type": "image_picker",
				"id": "image",
				"label": "Image"
			}
		]
	}
{% endschema %}